.sectionTitle {
    font-weight: 500;
    font-size: .36rem;
    height: 1rem;
    line-height:1rem;
    // background: url(../img/smart.png) 40px center no-repeat;
    padding: 0 .7rem;
    color: #005dff;
    position: relative;
}